# default registry used by the client. Can be replaced by use of --registry flag followed by registry URL

registry=https://dathaplus.bytesafe.dev/r/firewall-temp-components/

# registry and related access token

//dathaplus.bytesafe.dev/r/firewall-temp-components/:_authToken=01GA2XFZD973A5RTD45VY56PS1

# always-auth true forces clients to send credentials to Bytesafe servers

always-auth=true

# ┌────────────────┬────────────────────────────┐
# │ token          │ 01GA2XFZD973A5RTD45VY56PS1 │
# ├────────────────┼────────────────────────────┤
# │ readonly       │ false                      │
# ├────────────────┼────────────────────────────┤
# │ cidr_whitelist │ null                       │
# ├────────────────┼────────────────────────────┤
# │ created        │ 2022-08-10T03:41:41Z       │
# └────────────────┴────────────────────────────┘
